.main{
    width: 100%;
  
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.main .inner{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.inner form{
    display: flex;
    width: 50%;
   
    padding: 20px;
    border-radius: 10px;
}
.inner form .form{
    width: 100%;
}
.inputContainer{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 10px;
}


.inputContainer label{
    font-size: 15px;
    color: #000;
}
.input{
    width: 100%;
  
}
.devide{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    gap: 50px;
}
.devide .right{
    width: 50%;

}
.devide .left{
    width: 50%;
}